{% extends "KodifyUserBundle::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/ext/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar">
                <img src="{{ asset('img/logo.png') }}" />
            </div>
            <div class="form-box">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    {# % if error %}
                        <div>{{ error|trans }}</div>
                    {% endif % #}
                    {% include 'KodifyBlogBundle:Default:flashMessages.html.twig' %}
                    
                    {# <label for="username">{{ 'security.login.username'|trans }}</label> #}
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="username" />

                    {# <label for="password">{{ 'security.login.password'|trans }}</label> #}
                    <input type="password" id="password" name="_password" required="required" placeholder="password" />

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    <br>
                    <button class="btn btn-info btn-block login" type="submit">{{ 'security.login.submit'|trans }}</button>                    
                </form>
            </div>
        </div>        
</div>    
    
{% endblock fos_user_content %}

{% block javascripts %}
    <script src="{{ asset('js/login.js') }}"></script>
    
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ asset('js/ext/jquery-1.11.1.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ asset('js/ext/bootstrap.min.js') }}"></script>
{% endblock %}
